@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
th {
  @apply font-display;
  @apply tracking-tight;
}

.color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.spotify {
  display: grid;
  grid-template-columns: 2rem auto;
  align-items: center;
  grid-gap: 1rem;
  max-width: 62.5em;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.spotify:hover {
  background-color: #e0f2fe;
}

html.dark .spotify:hover {
  background-color: #1f2937;
}

.track-title,
.artist {
  display: -webkit-box;
  white-space: unset;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 640px) {
  .spotify {
    grid-template-columns: 2rem 6fr 4fr 1fr;
  }
}

.prose pre {
  color: #403f53;
  background-color: #fbfbfb;
  border: 1px solid #e0e0e0;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: rgb(152, 159, 177);
}

.token.punctuation {
  color: rgb(153, 76, 195);
}

.namespace {
  color: rgb(12, 150, 155);
}

.token.deleted {
  color: rgba(239, 83, 80, 0.56);
}

.token.symbol,
.token.operator,
.token.keyword,
.token.property {
  color: rgb(12, 150, 155);
}

.token.tag {
  color: rgb(153, 76, 195);
}

.token.boolean {
  color: rgb(188, 84, 84);
}

.token.number {
  color: rgb(170, 9, 130);
}

.token.constant,
.token.builtin,
.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string,
.token.char {
  color: rgb(72, 118, 214);
}

.token.selector,
.token.function,
.token.doctype {
  color: rgb(153, 76, 195);
}

.token.attr-name,
.token.inserted {
  color: rgb(72, 118, 214);
}

.token.class-name,
.token.atrule,
.token.attr-value {
  color: rgb(17, 17, 17);
}

.token.regex,
.token.important,
.token.variable {
  color: rgb(201, 103, 101);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-weight: normal;
}

html.dark .prose pre {
  color: #d6deeb;
  border: none;
  background-color: rgba(29, 59, 83, 0.99);
}

html.dark .token.comment,
html.dark .token.prolog,
html.dark .token.cdata {
  color: rgb(99, 119, 119);
  font-style: italic;
}

html.dark .token.punctuation {
  color: rgb(199, 146, 234);
}

html.dark .namespace {
  color: rgb(178, 204, 214);
}

html.dark .token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
}

html.dark .token.symbol,
html.dark .token.property {
  color: rgb(128, 203, 196);
}

html.dark .token.tag,
html.dark .token.operator,
html.dark .token.keyword {
  color: rgb(127, 219, 202);
}

html.dark .token.boolean {
  color: rgb(255, 88, 116);
}

html.dark .token.number {
  color: rgb(247, 140, 108);
}

html.dark .token.constant,
html.dark .token.function,
html.dark .token.builtin,
html.dark .token.char {
  color: rgb(130, 170, 255);
}

html.dark .token.selector,
html.dark .token.doctype {
  color: rgb(199, 146, 234);
  font-style: italic;
}

html.dark .token.attr-name,
html.dark .token.inserted {
  color: rgb(173, 219, 103);
  font-style: italic;
}

html.dark .token.string,
html.dark .token.url,
html.dark .token.entity,
html.dark .language-css .token.string,
html.dark .style .token.string {
  color: rgb(173, 219, 103);
}

html.dark .token.class-name,
html.dark .token.atrule,
html.dark .token.attr-value {
  color: rgb(255, 203, 139);
}

html.dark .token.regex,
html.dark .token.important,
html.dark .token.variable {
  color: rgb(214, 222, 235);
}

html.dark .token.important,
html.dark .token.bold {
  font-weight: bold;
}

html.dark .token.italic {
  font-style: italic;
}
